@media screen and (min-width: 576px){
    .offcanvas.offcanvas-end{
        width: 70%;
    }


}

@media screen and (min-width:768px){
    .no-disp{
        display: inline-block;
    }

    .img-mobile{
        display: none;
    }

    .sidebar{
        width: 130px;
    }

    .sidebar ul li{
        text-align: left;
    }

    .offcanvas.offcanvas-end{
        width: 40%;
    }
    
    .mobile-only{
        display: none;
    }

}

@media screen and (max-width: 576px) {
    .main-content .row{
        flex-direction: column;
    }

    .offcanvas.offcanvas-end{
        width: 100%;
    }

}