/* reset */
img{
    max-width: 100%;
}

/* common */

:root{
    /* colors */
    --sidebar-bg:#051E34;
}

.wrapper{
    height: 100vh;
    width: 100%;
}

ul li{
    list-style-type: none;
}

/* header --------------------------------------------------------------------------------*/
header{
    width: 100%;
    height: 60px;
}

header nav{
    height: 100%;
}

.ms_col{
    height: 100%;
}

header .navbar-brand{
    margin: 0 0;
}

.img-mobile{
    max-width: 45px;
}

img.no-disp{
    margin-left: -10px;
}

.ms_col form input{
    height: 35px;
    border: none;
}

.ms_col form {
    height: 100%;
}

.ms_search{
    background-color:#E5E5E5 ;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    line-height: 40px;
}

.ms_btn{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-color: #E5E5E5;
    border: none;
    height: 35px;
    line-height: 30px;
    margin-right: -10px;
    z-index: 1;
}

nav>div{
    background-color: #fff;
    height: 100%;
}

header .form-control:focus{
    box-shadow: none;
    background-color: #E5E5E5 ;
}

header .nav-link{
    display: inline-block;
}

.dropdown-toggle::after{
    display: none;    
}

.dropdown a i{
    color: #FF8F00 ;
}

.dropdown-menu[data-bs-popper]{
    left: -150px;
}

header .nav-link {
    color:#5B5858;
}

.no-disp{
    display: none;
}

/* main------------------------------------------------------------------------------- */

main{
    height: calc(100% - 60px);
    width: 100%;
}
/* sidebars-------------------------------------------------- */
.sidebar{
    background-color: var(--sidebar-bg) ;
    background-image: url(../img/sidebar-bg.png);
    height: 100%;
    color: #fff;
}

/* mobile sidebar */
.mobile-sidebar{
    width: 70px;
}

.sidebar>div{
    width: 100%;
}

.sidebar>div ul{
    padding: 0;
}

.sidebar a{
    color: inherit;
}
.sidebar ul li{
    padding: .5rem ;
}
.sidebar ul li:hover{
    background-color: rgba(244, 244, 244, .5);
}
