/* reset */
img{
    max-width: 100%;
}

/* common */

:root{
    /* colors */
    --sidebar-bg:#051E34;
    --blue-primary:#1B72E8;
}

.wrapper{
    height: 100vh;
    width: 100%;
}

ul li{
    list-style-type: none;
}

/* header --------------------------------------------------------------------------------*/
header{
    width: 100%;
    height: 60px;
}

header nav{
    height: 100%;
}

.ms_col{
    height: 100%;
}

header .navbar-brand{
    margin: 0 0;
}

.img-mobile{
    max-width: 45px;
}

img.no-disp{
    margin-left: -10px;
}

.ms_col form input{
    height: 35px;
    border: none;
}

.ms_col form {
    height: 100%;
}

.ms_search{
    background-color:#E5E5E5 ;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    line-height: 40px;
}

.ms_btn{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-color: #E5E5E5;
    border: none;
    height: 35px;
    line-height: 30px;
    margin-right: -10px;
    z-index: 1;
}

nav>div{
    background-color: #fff;
    height: 100%;
}

header .form-control:focus{
    box-shadow: none;
    background-color: #E5E5E5 ;
}

header .nav-link{
    display: inline-block;
}

.dropdown-toggle::after{
    display: none;
}

.dropdown a i{
    color: #FF8F00 ;
}

.dropdown-menu[data-bs-popper]{
    left: -150px;
}

header .nav-link {
    color:#5B5858;
}

.no-disp{
    display: none;
}

/* main------------------------------------------------------------------------------- */

main{
    height: calc(100% - 60px);
    width: 100%;
}
/* sidebar-------------------------------------------------- */
.sidebar{
    background-color: var(--sidebar-bg) ;
    background-image: url(../img/sidebar-bg.png);
    height: 100%;
    color: #fff;
    width: 70px;
}

.sidebar>div{
    width: 100%;
}

.sidebar>div ul{
    padding: 0;
    margin: 0;
}

.sidebar a{
    color: inherit;
}

.sidebar ul li{
    padding: .5rem ;
}

.sidebar ul li:hover{
    background-color: rgba(244, 244, 244, .5);
}

.sidebar p{
    font-size: 1rem;
    margin-left: 1rem ;
    margin-bottom: 0;
}

.sidebar div ul li:nth-child(2n) i{
    margin-right: .2rem;
}

/* main content----------------------------------------------------------------------- */
/* jumbotron */
.main-content{
    width: 100%;
    overflow-y: auto;
}

.jumbotron{
    background-color: var(--blue-primary) ;
    color: #fff;
}

.ms_button{
    background-color: transparent;
    border: 1px solid #fff;
}

.offcanvas-layout1{
    width: 45%;
}

.input-group label{
    display: block;
}

.offcanvas p{
    margin-bottom: .2rem ;
}

.offcanvas .dropdown-menu{
    overflow-y: auto;
    max-height: 150px;
    scroll-behavior: smooth;
}

.badge-secondary{
    background-color: rgba(0, 0, 0, .2);
    border-radius: 15px;
}

/* main content with cards ------------------------------------------------------------*/
/* table */
.table img{
    max-width: 25px;
}

thead tr th:last-of-type{
    min-width: 100px;
}

thead tr th:first-of-type{
    text-align: left;
}

tbody tr th:first-of-type{
    text-align: left;
}

/* personalized badjes */

#done{
    background-color: #1E885A !important;
}

#process{
    background-color: #FFC107 !important;
    
}

#failed{
    background-color: #DC3545 !important;
}

/* faq */
